.h1{
    
    color: blue;
}

#box{
    width: 100px;
    height: 100px;
    margin: 1000px 1000px 100px 1000px;
    padding: 100px 100px 100px 100px;
    border: black 1px solid;


.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
}   

.position{
    position: absolute;
    right: 100px;
    top: 100px;
}

.fundo{
    background-color: red;
}